.requestReturn{
    width: 659px;
    padding-left: 90px;
    padding-top: 90px;
}

.requestReturn h2, .requestReturn p,  .requestReturn li{
    
    width: 859px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 28px;
    line-height: 33.25px;
    color: rgba(64, 63, 63, 1);
}

.requestReturn li{
    margin-bottom: 20px;
}

@media (max-width: 429px) and (min-width: 391px) {
    .requestReturn{
        width: 100%;
        padding-left: 10px;

    }

    .requestReturn h2, .requestReturn p,  .requestReturn li{
    
        width: 390px;
        font-family: "Inter";
        font-weight: 400;
        font-size: 14px;
        line-height: 23.25px;
        color: rgb(42, 42, 42);
    }

    .requestReturn li{
        margin-left: -20px;
    }
}

@media (max-width: 391px){
    .requestReturn{
        width: 100%;
        padding-left: 10px;

    }

    .requestReturn h2, .requestReturn p,  .requestReturn li{
    
        width: 369px;
        font-family: "Inter";
        font-weight: 400;
        font-size: 14px;
        line-height: 33.25px;
        color: rgba(64, 63, 63, 1);
    }
    
    .requestReturn li{
        width: 340px;
        margin-left: -20px;
    }
}

@media (max-width: 361px){
    .requestReturn{
        width: 100%;
        padding-left: 10px;

    }

    .requestReturn h2, .requestReturn p,  .requestReturn li{
    
        width: 310px;
        font-family: "Inter";
        font-weight: 400;
        font-size: 16px;
        line-height: 33.25px;
        color: rgba(64, 63, 63, 1);
    }
    
}