.shipping p{
    font-family: "Inter";
    font-weight: 400;
    font-size: 28px;
    line-height: 28.8px;
    color: rgba(64, 63, 63, 1);
}

@media (max-width: 926px) {
    .shipping p{
        width: 302px;
        font-size: 20px;
    }
}

@media (max-width: 884px) and (max-width: 429px){
    .shipping p{
        width: 702px;
    }
}

@media (max-width: 429px) and (min-width: 391px) {
    .shipping p{
        width: 360px;
        font-size: 17px;
    }
}

@media (max-width: 391px) and (min-width: 361px) {
    .shipping p{
        width: 360px;
        font-size: 14px;
    }
}

@media (max-width: 361px) {
    .shipping p{
        width: 320px;
        font-size: 14px;
    }
}