.getPaid{
    /* height: ; */
}

.getPaid p{
    font-family: "Inter";
    font-weight: 400;
    font-size: 28px;
    line-height: 33.89px;
    color: rgba(64, 63, 63, 1);
}

.getPaid span{
    font-weight: bold;
    font-size: 28px;
    line-height: 33.89px;
}

@media (max-width: 926px) {
    .getPaid p{
        width: 320px;
        font-size: 18px;
    }

    .getPaid span {
        font-size: 25px;
    }
}


@media (max-width: 884px) and (min-width: 429px){
    .getPaid p{
        width: 720px;
    }

}

@media (max-width: 429px) and (min-width: 415px){
    .getPaid p{
        width: 360px;
    }

}


@media (max-width: 415px) and (min-width: 391px){
    .getPaid p{
        width: 360px;
    }

}


@media (max-width: 391px) {
    .getPaid p{
        width: 340px;
        font-size: 16px;
    }

}