.team {
    width: 100%;
    height: calc(100vh -75px);
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.teamMemberInfo {
    display: flex;
    align-items: center;
}

.left, .right {
    flex: 1;
}

.left img {
    width: 350px;
    height: 500px;
    object-fit: cover;
}

.right{
    margin-left: -290px;
}

.right h3{
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 46px;
    line-height: 57.82px;
    color: rgba(0, 0, 0, 1);
}

.title{
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 38px;
    line-height: 47.77px;
    padding: 4px;
    text-align: justify;
    color: rgba(0, 0, 0, 1);
}

.right h2 {
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-size: 96px;
    line-height: 120.67px;
    margin-top: -40px;
    margin-bottom: -40px;
    color: rgba(0, 0, 0, 1);
}

.desc {
    padding: 20px;
    width: 90%;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 38px;
    padding: 4px;
    color: rgba(0, 0, 0, 1);
    text-align: justify;
}


@media (max-width: 884px) {
    .left img{
        width: 250px;
        height: 340px;
    }

    .right h3{
        font-size: 36px;
    }

    .right h2 {
        font-size: 46px;
    }

    .desc{
        font-size: 30px;
    }
}

@media (max-width: 429px){

    .team {
        width: 100%; /* Adjust to take full width */
        padding: 10px;
        margin-bottom: 20px; /* Reduce margin for spacing */
        background-color: red;
    }
    
    .teamMemberInfo {
        padding-top: 50px; /* Reduced padding for top spacing */
        margin-bottom: 20px; /* Reduced bottom margin */
    }

    .right {
        margin-left: -50px; /* Adjusted to center-align content better */
    }

    .left img {
        width: 140px;  /* Made the image smaller for mobile */
        height: 180px;
        object-fit: cover;
    }

    .right h3 {
        font-size: 14px; /* Decreased font size for first name */
        line-height: 20px;
        color: rgba(0, 0, 0, 1);
    }

    .right h2 {
        font-size: 18px; /* Decreased font size for last name */
    }

    .desc {
        font-size: 16px; /* Reduced description font size for readability */
        padding: 5px;
        text-align: justify;
    }

    .title {
        width: 200px; /* Adjusted width for better spacing */
        word-spacing: 1px; /* Reduced word spacing */
        font-size: 14px; /* Adjusted font size for title */
    }
}
